[workspace]
resolver = "2"

members = ["simple_transfer/transfer_app", "bindings", "simple_transfer/transfer_library_v2"]
exclude = ["native"]

# Always optimize; building and running the guest takes much longer without optimization.
[profile.dev]
opt-level = 3

[profile.release]
debug = 1
lto = true
