name: Rust CI
on:
  push:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  lint-rust:
    name: Lint Rust
    runs-on: macos-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo
            target/*
            !target/patch
            ${{ runner.temp }}/.buildx-cache
          key: rust-new-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - run: cargo install patch-crate
      - run: cargo patch-crate

      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - run: cargo fmt -- --check
      - uses: bnjbvr/cargo-machete@main
        continue-on-error: true

      - run: cargo clippy -- -Dwarnings

      - run: cargo clippy --tests -- -Dwarnings

      # - name: check for undocumented functions
      #   run: RUSTFLAGS="-W missing_docs" cargo check
